<div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
        <h2>About</h2>
        <hr>
        <p>
          Hi, I'm Braden Shaak.
        </p>
        <p>
          I'm a software developer from Vancouver.
        </p>
        <p>
          You can read some of the stuff that I have written
          or check out some of my projects.
        </p>
      </div>

      <div class="col-2 homepage_content">
        <h2>Articles</h2>
        <hr>
        <% @posts.each do |post| %>
          <h3><a href="#"><%= link_to post.title, post %></a></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
        <% end %>
      </div>

      <div class="col-3 homepage_content">
        <h2>Personal Projects</h2>
        <hr>
        <% @projects.each do |project| %>
          <h3><a href="#"><%= link_to project.title, project %></a></h3>
          <p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
        <% end %>
      </div>
    </div>
